@import "../../../node_modules/buefy/dist/buefy.min.css";

html,
body {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  display: none;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  box-shadow: none;
}
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
}
.navbar-end {
  justify-content: flex-end;
}
