 


@import "~material-design-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/containers";

$btn-disabled-opacity: .25;

@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";

@import "~bootstrap/scss/forms";

$modal-content-border-width: 1px;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-content-border-width;
$modal-header-border-color:         rgba(255,255,255,.3);
$modal-footer-border-color:         $modal-header-border-color;


@import "~bootstrap/scss/modal";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

//@import "~bootstrap/scss/bootstrap";
html {
  scroll-behavior: smooth;
}

// html,
// body {
//   padding: 0;
//   margin: 0;
//   height: 100%;
//   width: 100%;
//   font-family: "Roboto", sans-serif;
 
// }

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
 
 

// input[type="button"],
// input[type="text"],
// input[type="date"],
// input[type="number"],
// input[type="password"] {
//   display: block;
//   padding: 15px 20px;
//   color: #212529;
//   background-color: #f0f0f0;
//   border: 0.5px solid #e0e0e0;
//   border-radius: 4px;
//   font-size: 110%;
// }

// a {
//   text-decoration: none;
// }

// ::placeholder {
//   color: #ced4da;
// }
// .spacer {
//   flex-grow: 1;
// }

// #head,
// #footer {
//   flex-grow: 1;
//   display: inline-flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   max-height: 40%;
// }
// #footer {
//   justify-content: space-between;
// }
// .toast {
//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
//   padding: 20px;
//   width: auto;
//   margin: auto;
//   text-align: center;
//   background-color: #212529;
//   color: #ced4da;

//   .close {
//     box-sizing: content-box;
//     width: 1em;
//     height: 1em;
//     padding: 10px;
//     display: inline-block;
//   }
// }

// .container {
//   width: calc(100% - 40px);
//   max-width: 800px;
//   display: block;
//   margin: 0 auto 0 auto;
//   padding-left: 20px;
//   padding-right: 20px;
// }

// .slide-enter-active,
// .slide-leave-active {
//   transition: opacity 0.5s;
// }
// .slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
//   position: absolute;
// }
